@charset "UTF-8";
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/MonumentExtended-Regular.otf") format("otf");
  font-weight: 400;
}
h1,
h2,
h3,
ul,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Red Rose", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
  background-color: #101010;
}

.container {
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1920px;
    padding-left: 150px;
    padding-right: 150px;
  }
}

.header {
  background-color: #101010;
}

.header__container {
  position: relative;
}

.header__absolute {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 48px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  width: 100%;
}
@media screen and (min-width: 375px) {
  .header__absolute {
    width: 375px;
  }
}
@media screen and (min-width: 1920px) {
  .header__absolute {
    top: 37px;
    width: 100%;
    max-width: 1620px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.2222222222;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.logo::before {
  content: "";
  display: block;
  background-image: url("../images/svg/logo.svg");
  height: 57px;
  width: 46px;
}
@media screen and (min-width: 1920px) {
  .logo {
    width: 149px;
  }
}

.header__menu-btn {
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}
.header__menu-btn .header__icon-menu-btn {
  width: 30px;
  height: 30px;
  fill: #FFFFFF;
}
@media screen and (min-width: 1919px) {
  .header__menu-btn {
    display: none;
  }
}

.header__wrap {
  display: none;
  z-index: 1;
}
.header__menu-btn:focus + .header__wrap, .header__menu-btn:hover + .header__wrap {
  position: absolute;
  right: 24px;
  bottom: -220px;
  display: block;
  overflow: hidden;
  background-color: #000000;
  -webkit-box-shadow: 0px -2px 9px 5px #7F1CFC;
          box-shadow: 0px -2px 9px 5px #7F1CFC;
  padding-bottom: 20px;
  border-radius: 30px 0px 30px 30px;
}
@media screen and (min-width: 1920px) {
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.header__nav {
  margin-bottom: 20px;
}
@media screen and (min-width: 1920px) {
  .header__nav {
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1920px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__link {
  display: block;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  -webkit-transition: background-color 200ms linear, -webkit-box-shadow 200ms linear;
  transition: background-color 200ms linear, -webkit-box-shadow 200ms linear;
  transition: box-shadow 200ms linear, background-color 200ms linear;
  transition: box-shadow 200ms linear, background-color 200ms linear, -webkit-box-shadow 200ms linear;
}
.header__link:focus, .header__link:hover {
  background-color: #7F1CFC;
  -webkit-box-shadow: -3px -1px 8px 7px rgba(24, 81, 84, 0.45) inset;
          box-shadow: -3px -1px 8px 7px rgba(24, 81, 84, 0.45) inset;
}
@media screen and (min-width: 1920px) {
  .header__link {
    padding: 15px;
    border-radius: 10px;
  }
}

.header__btn-wallet {
  font-family: "Red Rose";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #2C2D31;
  background-color: #52FFE0;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transition: background-color 200ms linear, color 200ms linear, -webkit-box-shadow 200ms linear;
  transition: background-color 200ms linear, color 200ms linear, -webkit-box-shadow 200ms linear;
  transition: box-shadow 200ms linear, background-color 200ms linear, color 200ms linear;
  transition: box-shadow 200ms linear, background-color 200ms linear, color 200ms linear, -webkit-box-shadow 200ms linear;
}
.header__btn-wallet:hover {
  -webkit-box-shadow: -3px -1px 8px 7px rgba(24, 81, 84, 0.45) inset;
          box-shadow: -3px -1px 8px 7px rgba(24, 81, 84, 0.45) inset;
  background-color: #7F1CFC;
  color: #fff;
}
@media screen and (min-width: 1920px) {
  .header__btn-wallet {
    margin-left: auto;
    margin-right: 0;
    padding: 15px 28px;
  }
}

.hero {
  padding-top: 153px;
  padding-bottom: 80px;
  background-color: #101010;
}
@media screen and (min-width: 1920px) {
  .hero {
    padding-top: 250px;
    padding-right: 10px;
    padding-bottom: 204px;
  }
}

.hero__container {
  position: relative;
}

.hero__thumb {
  position: absolute;
  left: 0px;
  top: 276px;
  max-width: 397px;
  width: 100%;
  height: 387px;
  background-image: url("../images/hero-desktop.png"), url("../images/hero-fon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 322px 315px, 397px 387px;
}
@media screen and (min-width: 1920px) {
  .hero__thumb {
    left: 895px;
    top: -166px;
    max-width: 953px;
    height: 931px;
    background-image: url("../images/hero-desktop.png"), url("../images/hero-fon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 775px 757px, 953px 931px;
  }
}
.hero__thumb::after {
  content: " ";
  position: absolute;
  bottom: 55px;
  left: -20px;
  display: block;
  width: 200px;
  height: 200px;
  background-image: url("../images/hero-banner-play.png");
}
@media screen and (max-width: 1919px) {
  .hero__thumb::after {
    display: none;
  }
}

.hero__text {
  display: block;
  font-family: "Monument Extended";
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 16px;
}
@media screen and (min-width: 1920px) {
  .hero__text {
    font-size: 36px;
    line-height: 1.1944444444;
    text-align: start;
  }
}

.hero__title {
  font-family: "Monument Extended";
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 100%;
  margin-bottom: 51px;
}
@media screen and (min-width: 1920px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.1944444444;
    max-width: 704px;
    text-align: start;
    margin-bottom: 64px;
  }
}

.hero__btn-explore {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #52FFE0;
  border-radius: 50px;
  padding: 19px 39px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 200ms linear, color 200ms linear, -webkit-box-shadow 200ms linear;
  transition: background-color 200ms linear, color 200ms linear, -webkit-box-shadow 200ms linear;
  transition: box-shadow 200ms linear, background-color 200ms linear, color 200ms linear;
  transition: box-shadow 200ms linear, background-color 200ms linear, color 200ms linear, -webkit-box-shadow 200ms linear;
}
.hero__btn-explore:hover, .hero__btn-explore:focus {
  -webkit-box-shadow: -3px -1px 8px 7px rgba(24, 81, 84, 0.45) inset;
          box-shadow: -3px -1px 8px 7px rgba(24, 81, 84, 0.45) inset;
  background-color: #7F1CFC;
  color: #fff;
}
@media screen and (max-width: 1919px) {
  .hero__btn-explore {
    margin-bottom: 437px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__btn-explore {
    display: inline-block;
    margin-bottom: 80px;
  }
}

.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1920px) {
  .hero__wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero__man {
  position: relative;
  margin-right: 52px;
}
@media screen and (min-width: 1920px) {
  .hero__man {
    position: absolute;
    top: 386px;
    left: 348px;
  }
}

.hero__man--second {
  position: absolute;
  left: 0;
  top: 34px;
}
@media screen and (min-width: 1920px) {
  .hero__man--second {
    left: 34px;
    top: 0px;
    width: 100%;
  }
}

.hero__man--third {
  position: absolute;
  left: 0;
  top: 68px;
}
@media screen and (min-width: 1920px) {
  .hero__man--third {
    left: 68px;
    top: 0px;
    width: 100%;
  }
}

.hero__arrow {
  position: absolute;
  bottom: 49px;
  left: 20px;
  width: 95px;
  height: 74px;
}
@media screen and (min-width: 1920px) {
  .hero__arrow {
    bottom: -80px;
    left: 105px;
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
}

.hero__statistics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 1920px) {
  .hero__statistics-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 116px;
  }
}

.hero__statistics-number {
  font-family: "Monument Extended";
  font-size: 30px;
  line-height: 1.2;
  text-align: end;
  color: #fff;
}

.hero__statistics-text {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #818698;
}

.popular {
  padding-bottom: 40px;
  padding-bottom: 120px;
}

.popular__title {
  font-family: "Monument Extended";
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 24px;
}
@media screen and (min-width: 1920px) {
  .popular__title {
    text-align: start;
    margin-bottom: 72px;
  }
}

.slide {
  margin-right: 30px;
  max-width: 245px;
  background: #2C2D31;
  border-radius: 50px;
  padding: 10px 10px 51px 10px;
}

.slide__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 51px;
  overflow: hidden;
}

.slide__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.slick-dots li.slick-active button:before {
  color: #7F1CFC;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #52FFE0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next {
  right: -60px;
}

.slick-prev {
  left: -80px;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 50px;
  line-height: 1;
  opacity: 0.8;
  color: #52FFE0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1919px) {
  .slick-arrow {
    visibility: hidden;
    overflow: hidden;
  }
}

.collection {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 1920px) {
  .collection {
    padding-top: 137px;
    padding-bottom: 86px;
    background-color: #1D1E22;
  }
}

.collection_title {
  font-family: "Monument Extended";
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 1919px) {
  .collection_title {
    max-width: 206px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .collection_title {
    display: inline-block;
    text-align: start;
    margin-bottom: 65px;
    margin-right: 945px;
  }
}

@media screen and (max-width: 1919px) {
  .collection__form {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .collection__form {
    display: inline-block;
    background: #2C2D31;
    border-radius: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.collection__label {
  color: #FFFFFF;
}

.collection__new-button {
  font-family: "Red Rose";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  border-radius: 20px;
  padding: 20px 35px;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.collection__input:checked + .collection__new-button {
  background-color: #1D1E22;
}

.collection__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
}

.collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1920px) {
  .collection__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
    margin-bottom: 72px;
  }
}

.collection__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 10px;
  background-color: #2C2D31;
  border-radius: 20px;
}
@media screen and (min-width: 1920px) {
  .collection__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 520px;
    padding-right: 40px;
    padding-bottom: 10px;
  }
}

.collection__number-icon {
  position: absolute;
  top: 10px;
  left: 0px;
}

.collection__text {
  margin-left: 24px;
}
@media screen and (min-width: 1920px) {
  .collection__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.collection__name-title {
  font-size: 24px;
  line-height: 1.25;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.collection__vol {
  font-size: 16px;
  line-height: 1.25;
  color: #818698;
}

.collection__name {
  margin-bottom: 16px;
}
@media screen and (min-width: 1920px) {
  .collection__name {
    margin: 0;
  }
}

.collection__volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.collection__crypto {
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
}

.collection__growth {
  font-size: 14px;
  line-height: 1.2142857143;
  color: #52FFE0;
}

@media screen and (max-width: 1919px) {
  .collection__item--desktop {
    display: none;
  }
}

.collection__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2C2D31;
  background-color: #52FFE0;
  -webkit-transition: background-color 200ms linear, color 200ms linear, -webkit-box-shadow 200ms linear;
  transition: background-color 200ms linear, color 200ms linear, -webkit-box-shadow 200ms linear;
  transition: box-shadow 200ms linear, background-color 200ms linear, color 200ms linear;
  transition: box-shadow 200ms linear, background-color 200ms linear, color 200ms linear, -webkit-box-shadow 200ms linear;
  border-radius: 50px;
  padding: 15px 20px;
}
.collection__btn:hover, .collection__btn:focus, .collection__btn:active {
  -webkit-box-shadow: -3px -1px 8px 7px rgba(24, 81, 84, 0.45) inset;
          box-shadow: -3px -1px 8px 7px rgba(24, 81, 84, 0.45) inset;
  background-color: #7F1CFC;
  color: #fff;
}

.trending {
  padding-bottom: 134px;
}
@media screen and (min-width: 1920px) {
  .trending {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.trending__title {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 1919px) {
  .trending__title {
    width: 167px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1920px) {
  .trending__title {
    text-align: start;
    margin-bottom: 72px;
  }
}

.slide__trending {
  width: 327px;
  border-radius: 30px 30px;
  overflow: hidden;
}

.slide___thumb-trending {
  width: 327px;
  border-radius: 30px 30px;
  overflow: hidden;
}

.slide__background {
  background: #1D1E22;
  border-radius: 0 0 30px 30px;
  padding: 24px 6px 6px 6px;
  overflow: hidden;
}

.slide__title-trending {
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-align: start;
  margin-bottom: 8px;
  margin-left: 10px;
}

.slide__kive {
  display: block;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 31px;
  margin-left: 10px;
}

.slide__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2C2D31;
  border-radius: 20px;
  padding: 16px 24px;
}

.slide__price,
.slide__bild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3125;
  letter-spacing: 0.04em;
  color: #999999;
}

.slide__eth {
  font-family: "Red Hat Display";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-top: 8px;
}

.blog {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #1D1E22;
}
@media screen and (min-width: 1920px) {
  .blog {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.blog__title {
  font-family: "Monument Extended";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #D9D9D9;
  margin-bottom: 40px;
}
@media screen and (min-width: 1920px) {
  .blog__title {
    display: none;
  }
}

.blog__insights {
  font-family: "Monument Extended";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-align: start;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 48px;
}
@media screen and (max-width: 1919px) {
  .blog__insights {
    display: none;
  }
}

.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.blog__item {
  width: 100%;
  max-width: 315px;
}
@media screen and (min-width: 1920px) {
  .blog__item {
    max-width: 500px;
  }
}

@media screen and (max-width: 1919px) {
  .blog__item-desktop {
    display: none;
  }
}

@media screen and (max-width: 1919px) {
  .blog__thumb {
    max-width: 315px;
    height: 312px;
    border-radius: 50px 50px 50px 50px;
    overflow: hidden;
    margin-bottom: 32px;
    background-image: url("../images/blog-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1920px) {
  .blog__thumb {
    max-width: 500px;
    height: 312px;
    border-radius: 50px 50px 50px 50px;
    overflow: hidden;
    margin-bottom: 32px;
    background-image: url("../images/blog-one-dt.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.blog__thumb-dt-two {
  background-image: url("../images/blog-two-dt.png");
}

.blog__thumb-dt-three {
  background-image: url("../images/blog-three-dt.png");
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1920px) {
  .blog__info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.blog__events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  margin-bottom: 18px;
}
@media screen and (min-width: 1920px) {
  .blog__events {
    gap: 62px;
    margin-bottom: 21px;
  }
}

.blog__sound {
  font-family: "Inter";
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #FFFFFF;
  padding: 4px 12px;
  background-color: #0E121B;
  -webkit-box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
          box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
  border-radius: 36px;
}
@media screen and (min-width: 1920px) {
  .blog__sound {
    display: none;
  }
}

.blog__thema {
  font-family: "Red Rose";
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #0A142F;
  background-color: #F3F5F6;
  -webkit-box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
          box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
  border-radius: 36px;
  padding: 5px 12px;
}
@media screen and (max-width: 1919px) {
  .blog__thema {
    display: none;
  }
}

.blog__name {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #DFE5F5;
}
@media screen and (min-width: 1920px) {
  .blog__name {
    font-family: "Red Rose";
    line-height: 1.25;
  }
}

.blog__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.6;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 32px;
}
@media screen and (min-width: 1920px) {
  .blog__text {
    font-family: "Red Rose";
    text-align: start;
  }
}

.blog__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 24px;
  gap: 8px;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  background-color: transparent;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 1920px) {
  .blog__btn {
    padding: 18px 19px;
  }
}

.blog__icon {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 1920px) {
  .blog__icon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .blog__icon .read-more-mobile {
    display: none;
  }
}
@media screen and (max-width: 1919px) {
  .blog__icon .read-more-dt {
    display: none;
  }
}

.download {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 1920px) {
  .download {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1920px) {
  .download__fone-dt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 72px;
    padding-right: 240px;
    padding-bottom: 96px;
    padding-top: 96px;
    background: #1D1E22;
    border: 1px solid #000000;
    border-radius: 50px;
  }
}

.download__title {
  font-family: "Monument Extended";
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 56px;
}
@media screen and (min-width: 1920px) {
  .download__title {
    font-size: 30px;
    line-height: 1.2;
    max-width: 550px;
    margin-bottom: 0;
    text-align: start;
  }
}

.download__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 270px;
  height: 72px;
  background-color: #2C2D31;
  -webkit-box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
          box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
  border-radius: 50px;
  padding: 24px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-box-shadow 250ms linear;
  transition: -webkit-box-shadow 250ms linear;
  transition: box-shadow 250ms linear;
  transition: box-shadow 250ms linear, -webkit-box-shadow 250ms linear;
}
.download__app:hover, .download__app:focus {
  -webkit-box-shadow: 0px 0px 9px 5px rgba(255, 255, 255, 0.75);
          box-shadow: 0px 0px 9px 5px rgba(255, 255, 255, 0.75);
}
@media screen and (min-width: 1920px) {
  .download__app {
    margin: 0;
  }
}

.download__google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 270px;
  height: 72px;
  color: #1D1E22;
  background-color: #52FFE0;
  -webkit-box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
          box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
  border-radius: 50px;
  padding: 24px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-box-shadow 250ms linear;
  transition: -webkit-box-shadow 250ms linear;
  transition: box-shadow 250ms linear;
  transition: box-shadow 250ms linear, -webkit-box-shadow 250ms linear;
}
.download__google:hover, .download__google:focus {
  -webkit-box-shadow: 0px 0px 9px 5px rgba(82, 255, 223, 0.4588235294);
          box-shadow: 0px 0px 9px 5px rgba(82, 255, 223, 0.4588235294);
}

@media screen and (min-width: 1920px) {
  .download__pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    gap: 16px;
  }
}

.footer {
  padding-top: 34px;
  padding-bottom: 29px;
  background-color: #1D1E22;
}
@media screen and (min-width: 1920px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.footer__form {
  position: relative;
  max-width: 327px;
  padding: 60px 48px;
  background-color: #52FFE0;
  border-radius: 20px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1920px) {
  .footer__form {
    margin-bottom: 0;
    padding: 80px 48px;
    max-width: 495px;
  }
}

.footer__form::before {
  content: "";
  position: absolute;
  bottom: -27px;
  right: -21px;
  display: block;
  width: 115px;
  height: 83px;
  background-image: url("../images/form-before.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1919px) {
  .footer__form::before {
    display: none;
  }
}

.footer__form-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #1D1E22;
  margin-bottom: 15px;
}
@media screen and (min-width: 1920px) {
  .footer__form-title {
    display: none;
  }
}

.footer__forn-title-dt {
  font-family: "Monument Extended";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2083333333;
  letter-spacing: 0.04em;
  text-align: start;
  margin-bottom: 15px;
}
@media screen and (max-width: 1919px) {
  .footer__forn-title-dt {
    display: none;
  }
}

.footer__label {
  position: relative;
}

.footer__input {
  height: 37px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #3FC9B0;
  background-color: transparent;
  padding-bottom: 13px;
  padding-right: 24px;
  outline: transparent;
}

.footer__input-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.footer__input::-webkit-input-placeholder {
  font-family: "Inter";
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.213333px;
  color: #1D1E22;
}

.footer__input::-moz-placeholder {
  font-family: "Inter";
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.213333px;
  color: #1D1E22;
}

.footer__input:-ms-input-placeholder {
  font-family: "Inter";
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.213333px;
  color: #1D1E22;
}

.footer__input::-ms-input-placeholder {
  font-family: "Inter";
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.213333px;
  color: #1D1E22;
}

.footer__input::placeholder {
  font-family: "Inter";
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.213333px;
  color: #1D1E22;
}

.footer__form-btn {
  display: block;
  margin-top: 20px;
  font-family: "Red Rose";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #2C2D31;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-radius: 50px;
  padding: 5px 15px;
  -webkit-transition: -webkit-box-shadow 250ms linear;
  transition: -webkit-box-shadow 250ms linear;
  transition: box-shadow 250ms linear;
  transition: box-shadow 250ms linear, -webkit-box-shadow 250ms linear;
}
.footer__form-btn:focus, .footer__form-btn:hover, .footer__form-btn:active {
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1) inset;
}

.address {
  margin-bottom: 40px;
}
@media screen and (min-width: 1920px) {
  .address {
    display: none;
  }
}

.address__title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
  font-style: normal;
}

.address__link {
  display: block;
  font-family: "Inter";
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  font-style: normal [];
  color: #E0E5F3;
  -webkit-transition: color 250ms linear, -webkit-transform 250ms linear;
  transition: color 250ms linear, -webkit-transform 250ms linear;
  transition: color 250ms linear, transform 250ms linear;
  transition: color 250ms linear, transform 250ms linear, -webkit-transform 250ms linear;
}
.address__link:hover, .address__link:focus {
  color: #52ffe0;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__contact-title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
}
@media screen and (min-width: 1920px) {
  .footer__contact-title {
    display: none;
  }
}

.footer__contact-list {
  margin-bottom: 40px;
}
@media screen and (min-width: 1920px) {
  .footer__contact-list {
    display: none;
  }
}

.footer__contact-link {
  display: block;
  font-family: "Inter";
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  color: #E0E5F3;
  -webkit-transition: color 250ms linear, -webkit-transform 250ms linear;
  transition: color 250ms linear, -webkit-transform 250ms linear;
  transition: color 250ms linear, transform 250ms linear;
  transition: color 250ms linear, transform 250ms linear, -webkit-transform 250ms linear;
}
.footer__contact-link:hover, .footer__contact-link:focus {
  color: #52ffe0;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__copyright {
  font-family: "Inter";
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  color: #E0E5F3;
}
@media screen and (min-width: 1920px) {
  .footer__copyright {
    display: none;
  }
}

.footer__top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 51px;
}

@media screen and (max-width: 1919px) {
  .logo__footer {
    display: none;
  }
}

.footer__links-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 32px;
  width: 495px;
}
@media screen and (max-width: 1919px) {
  .footer__links-wrap {
    display: none;
  }
}

.footer__quick-title,
.footer__marketplace-title {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer__quick-link,
.footer__marketplace-link {
  font-family: "Red Rose";
  font-size: 16px;
  line-height: 1.875;
  color: #DFE5F5;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.footer__quick-link:hover, .footer__quick-link:focus,
.footer__marketplace-link:hover,
.footer__marketplace-link:focus {
  color: #52ffe0;
}

.footer__bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1920px) {
  .footer__bottom-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__bottom-wrap-text {
  font-family: "Inter";
  font-size: 16px;
  line-height: 1.875;
  color: #FFFFFF;
}
@media screen and (max-width: 1919px) {
  .footer__bottom-wrap-text {
    display: none;
  }
}

.footer__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1920px) {
  .footer__policy {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
}

.footer__policy-link {
  font-family: "Inter";
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  -webkit-transition: color 250ms linear, -webkit-transform 250ms linear;
  transition: color 250ms linear, -webkit-transform 250ms linear;
  transition: color 250ms linear, transform 250ms linear;
  transition: color 250ms linear, transform 250ms linear, -webkit-transform 250ms linear;
}
.footer__policy-link:hover, .footer__policy-link:focus {
  color: #52ffe0;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 1920px) {
  .footer__soc {
    margin-bottom: 0;
  }
}

.footer__soc-icon {
  fill: #FFFFFF;
  -webkit-transition: fill 250ms linear, -webkit-transform 200ms linear;
  transition: fill 250ms linear, -webkit-transform 200ms linear;
  transition: fill 250ms linear, transform 200ms linear;
  transition: fill 250ms linear, transform 200ms linear, -webkit-transform 200ms linear;
}
@media screen and (min-width: 1920px) {
  .footer__soc-icon {
    fill: #818698;
  }
}
.footer__soc-icon:hover, .footer__soc-icon:focus {
  fill: #52FFE0;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media screen and (min-width: 1920px) {
  .footer__soc-item-mobile {
    display: none;
  }
}

@media screen and (max-width: 1919px) {
  .footer__soc-item-dt {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */