.popular{
    padding-bottom: 40px;
}

.popular__title{
    font-family: 'Monument Extended';
    font-size: 24px;
    line-height: calc(36/ 24);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
}
