@font-face{
    font-family: 'Gilroy-ExtraBold';
    src: url("../fonts/Gilroy-ExtraBold.woff") format('woff') ;
    font-weight: 800;
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url("../fonts/BebasNeueBold.woff") format('woff');
    font-weight: 700;
}
