@font-face{
    font-family: 'Gilroy-ExtraBold';
    src: url("../fonts/Gilroy-ExtraBold.woff") format('woff') ;
    font-weight: 800;
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url("../fonts/BebasNeueBold.woff") format('woff');
    font-weight: 700;
}

@font-face {
    font-family: "Monument Extended";
    src: url("http://db.onlinewebfonts.com/t/99501fdab737541e9315ceaf9229370f.eot");
    /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/99501fdab737541e9315ceaf9229370f.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("http://db.onlinewebfonts.com/t/99501fdab737541e9315ceaf9229370f.woff2") format("woff2"),
        /* chrome firefox */
        url("http://db.onlinewebfonts.com/t/99501fdab737541e9315ceaf9229370f.woff") format("woff"),
        /* chrome firefox */
        url("http://db.onlinewebfonts.com/t/99501fdab737541e9315ceaf9229370f.ttf") format("truetype"),
        /* chrome firefox opera Safari, Android, iOS 4.2+*/
        url("http://db.onlinewebfonts.com/t/99501fdab737541e9315ceaf9229370f.svg#Monument Extended") format("svg");
    /* iOS 4.1- */
}